@model IEnumerable<Kino.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdZalozba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOmejitve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOsebjeFilma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CasTrajanja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdZalozba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOmejitve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOsebjeFilma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CasTrajanja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFilm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFilm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFilm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
