@model IEnumerable<Kino.Models.Wraper.KolosejWrapper>

@{
    ViewData["Title"] = "index";
}

<h2>index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dvorana.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predstava.CasZacetka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predstava.CasZacetka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predstava.Datum)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dvorana.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predstava.CasZacetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predstava.CasZacetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predstava.Datum)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Predstava">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>