@model IEnumerable<Kino.Models.Wraper.KolosejWrapper>

@{
    ViewData["Title"] = "Filmi";
}
<br />
<h2>Filmi</h2>
<br />
<br />
<p>
    <a asp-action="Create">Ustvari nov film</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdukcijskaZalozba.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarostnaOmejitev.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OsebjeFilma.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film.Leto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film.CasTrajanja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdukcijskaZalozba.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarostnaOmejitev.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsebjeFilma.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Leto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.CasTrajanja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Film.IdFilm">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Film.IdFilm">Informacije o filmu</a> |
                <a asp-action="Delete" asp-route-id="@item.Film.IdFilm">Izbrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
