@model Kino.Models.Dvorana

@{
    ViewData["Title"] = "Delete";
}

<h2>Izbrisi</h2>

<h3>Ste prepricani da zelite to izbrisati?</h3>
<div>
    <h4>Dvorana</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdKolosej)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdKolosej)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTehnologije)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTehnologije)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StVrst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StVrst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StSedezovNaVrsto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StSedezovNaVrsto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDvorane" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
