@model IEnumerable<Kino.Models.OsebjeFilma>

@{
    ViewData["Title"] = "Režiserji";
}
<br />
<h2>Režiserji</h2>
<br />
<br />
<p>
    <a asp-action="Create">Ustvari novega reziserja</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRojstva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRojstva)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOsebjeFilma">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.IdOsebjeFilma">Informacije o reziserju</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOsebjeFilma">Izbrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
