@model IEnumerable<Kino.Models.Tehnologija>

@{
    ViewData["Title"] = "Tehnologija";
}
<br />
<h2>Tehnologija</h2>
<br />
<br />
<p>
    <a asp-action="Create">Ustvari novo tehnologijo</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImeTehnologije)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImeTehnologije)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTehnologije">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.IdTehnologije">Informacije o tehnologiji</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTehnologije">Izbrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
