@model Kino.Models.Kolosej

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kolosej</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdNaslov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNaslov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdKolosej">Uredi</a> |
    <a asp-action="Index"> Nazaj na seznam</a>
</div>
