@model IEnumerable<Kino.Models.Wraper.KolosejWrapper>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naslov
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolosej.Ime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StringNaslov)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kolosej.Ime)
                    </td>
                    <td>
                        @* Chose - kao tega bo izbrov pa tega ureju, dele sam dvorane pokaže odvisn na to kva izbereš *@
                        <a asp-action="Chose" asp-route-id="@item.Kolosej.IdKolosej">Chose</a> |
                        <a asp-action="Edit" asp-route-id="@item.Kolosej.IdKolosej">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Kolosej.IdKolosej">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>