@model Kino.Models.Dvorana

@{
    ViewData["Title"] = "Details";
}

<h2>Informacije o dvorani</h2>

<div>
    <h4>Dvorana</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdKolosej)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdKolosej)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTehnologije)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTehnologije)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StVrst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StVrst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StSedezovNaVrsto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StSedezovNaVrsto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDvorane">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
