@model Kino.Models.Wraper.KolosejWrapper

@{
    ViewData["Title"] = "Dvorane";
}

<h2>Dvorane</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dvorana.IdKolosej)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tehnologija.ImeTehnologije)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvorana.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvorana.StVrst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvorana.StSedezovNaVrsto)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.DvoranaList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdKolosej)
            </td>
            <td>
                @foreach (var teh in Model.TehnologijaList) {
                    if (teh.IdTehnologije == item.IdTehnologije) {
                        @Html.DisplayFor(modelItem => teh.ImeTehnologije)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StVrst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StSedezovNaVrsto)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.IdDvorane">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDvorane">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDvorane">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>